.introduction_container {
    position: absolute;
    top: 0;
    left: 0;
}
.introduction_paper {
    width: 100%;
    height: auto;
}
.introduction_button {
    font-family: Lato;
    position: absolute;
    left: 16px;
    top: 248px;
    z-index: 1;
    width: 100px;
    height: 32px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    font-size: 12px;
    color: #3c50a5;
    font-weight: 900;
    border: 0;
    outline: 0;
}
button:focus{
    border: none;
    outline: none;
}
.topclass_container {
    position: absolute;
    top: calc(480 * 100vw / 375 + 32px);
    width: calc(100% - 16px);
}
.topclass_top {
    display: flex;
    position: relative;
}
.topclass_title {
    position: absolute;
    left: 16px;
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.topclass_more {
    position: absolute;
    right: 16px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3px;
    color: #bdbdbd;
}
.topclass_content_container {
    position: relative;
    top: 24px;
}
#type{
    background-color: rgba(255, 87, 119, 0.1);
    color: #ff5777;    
}
#hashtag{
    background-color: rgba(60, 80, 165, 0.1);
    color: #3c50a5;    
}
.blankspace {
    position: relative;
    height: 100px;
    background-color:white;
}