.oneclass_container {
    width: 152px;
    height: 112px;
    margin: 16px 8px 32px 16px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
}
.oneclass_keyword_container{
    display: flex;
}
.oneclass_keyword{
    width: auto;
    height: 24px;
    border-radius: 4px;
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 8px 0 8px;
    margin-right: 8px;
}
.oneclass_description{
    margin-top: 8px;
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.oneclass_trainer{
    width: 152px;
    display: flex;
    margin-top: 16px;
}
.oneclass_trainer_name {
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    margin-left: 8px;
    margin-top: 3px;
}